.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

.recipeContainer {
  background-color: white;
  max-width: 375px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  margin-bottom: 2.5rem;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 311px;
}


.descriptionTitle {
   font-size: 36px;
   font-weight: 500;
}

@media screen and (min-width: 375px) {
  .image, .main {
    border-radius: 8px;
  }
}