.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

.recipeContainer {
  background-color: white;
  max-width: 375px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  margin-bottom: 2.5rem;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 311px;
}

.descriptionTitle {
   font-size: 36px;
   font-weight: 500;
}

.prepTitle {
  font-size: 20px;
  font-weight: 700;
  font-family: 'Outfit', sans-serif;
}

.prepTime {
  background-color:  var(--rose-white);
  padding: 1.5rem;
}

.listItem {
  margin-left: 1rem;
}

.listItem li {
  padding-left: 1rem;
  padding-bottom: 0.5rem;
}

.bold {
  font-weight: 700;
}

.ingredientSection {
  padding-bottom: 1.5rem;
  border-bottom: 1px solid var(--light-grey);
}

.instructionSection {
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid var(--light-grey);
  border-top: 1px solid var(--light-grey);
}

.nutritionInfo {
  margin-top: 0.75rem;
  padding-bottom: 2.5rem;
}

.row {
  display: flex;
  justify-content: space-between; 
  padding: 0.75rem 2rem 0.75rem 2rem;
  border-bottom: 1px solid var(--light-grey);
}

.row:last-child {
  border: none;
}

.coloredCell {
  color: var(--nutmeg);
  font-weight: 600;
}

@media screen and (min-width: 375px) {
  .image, .main {
    border-radius: 8px;
  }
}